# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
*.log.*
pids/
*.pid
*.seed
*.pid.lock

# OS files
.DS_Store
Thumbs.db

# Build directories
dist/
build/
out/
.cache/

# Coverage
coverage/
*.lcov

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional npm cache
.npm/

# Cloudinary uploads / t
